<footer>
    <p>Desenvolvido por Algnologia</p><br>
    <ul class="social-icons">
        <li><a href="https://github.com/Marcos-Ferreira13" target="_blanck"><i class="fab fa-github"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
</footer>