<header>
    <span class="logo"><a href="/">COVID 19</a></span>
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/dicas">Novo Normal</a></li>
            <li><a href="/prevencao">Prevenção</a></li>
            <li><a href="/contato">Contato</a></li>
            
        </ul>
    </nav>
    <i id="btn-menu" class="fas fa-bars"></i>
</header>