<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Normal</title>
    <link rel="icon" href="/mask-icon.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
    <%- include('../partials/header.ejs')%>

    <div class="dicas-container">
        <h2>Dicas para novo normal</h2>

        <div class="card-container">
            <div class="card-dicas">
                <div class="image">
                    <img src="/mask_female.png" alt="">
                </div>
                <div class="text">
                    <h3>Novo normal: Entenda melhor esse conceito e seus impactos em nossas vidas</h3>
                <a href="https://www.insper.edu.br/noticias/novo-normal-conceito">Acesse aqui</a>
                </div>
            </div>
            <div class="card-dicas">
                <h3>O Brasil busca o ‘novo normal’ pós-covid, sob alerta de especialistas para não queimar a largada</h3>
                <a href="https://brasil.elpais.com/brasil/2021-09-19/o-brasil-busca-o-novo-normal-pos-covid-sob-alerta-de-especialistas-para-nao-queimar-a-largada.html">Acesse aqui</a>
            </div>
            <div class="card-dicas">
                <h3>Prepare-se: todos nós precisaremos construir um novo normal</h3>
                <a href="https://www.americasmed.com.br/central-de-conteudo/informativos/prepare-se-todos-nos-precisaremos-construir-um-novo-normal">Acesse aqui</a>
            </div>
        </div>
    </div>
</body>
</html>