@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img{
    max-width: 100%;
}

a{
    display: inline-block;
    color: white;
    text-transform: uppercase;
}

body{
    font-family: 'Oswald', sans-serif;
    background:#68E4FF;
    
}
/*===============================================FIM DOS RESETS ==================================== */

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
#btn-menu{
    color: white;
    font-size: 35px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
}

header .menu{
    display: flex;
    margin-right: 30px;
}

.menu li{
    margin-left: 15px;
}
#container{
    margin-top: 20px;
}
.info{
    display: grid;
    grid-template-columns: minmax(300px,2fr) 1fr;
    background:#68E4FF;
    
}


.casos{
    display: flex;
    padding: 40px 10px;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}
.casos h2{
    letter-spacing: 1px;
    
}
.card{
    width: 45%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    
}

.mortos{
    background: #ff0025;
}
.recuperados{
    background: #005c1f;
}
.novos-casos{
    background: #ffd700;
}

.em-acompanhamento{
    background: #55AFD2;
}

.right{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.info-number{
    font-size: 25px;
}

.date{
    color: white;
}


footer{
    color: white;
    text-align: center;
}

.social-icons li{
    display: inline-block;
    margin-left: 15px;
}

.social-icons li i{
    font-size: 20px;
}

ul li a:hover{
    color: red;
    transition: all .3s ease-in-out;
}

.menu.show-menu{
    left: 0;
    transition: all .5s ease-in;
}

.disabled{
    pointer-events: none;
    color: #ccc;
}
@media screen and (max-width:956px){
    #btn-menu{
        display: block;
    }
    nav .menu{
        margin: 15px 0;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 80px;
        left: -1000%;
        background-color: #68E4FF;
        width: 100%;
        height: 100%;
        transition: all .5s ease-in;
    }

    nav .menu li{
        margin-left: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    
    .info{
        grid-template-columns: 1fr;
        
        
    }
    .info h2{
        font-size: 17px;
    }
    .info-number{
        font-size: 15px;
    }
}