@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

img{
    max-width: 100%;
}
body,html{
    width: 100%;
    height: 100%;
}

a{
    display: inline-block;
    color: white;
    text-transform: uppercase;
}

body{
    font-family: 'Oswald', sans-serif;
    background:#68E4FF;
    
}
/*===============================================FIM DOS RESETS ==================================== */

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background:#68E4FF;
}
#btn-menu{
    color: white;
    font-size: 35px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
}

header .menu{
    display: flex;
    margin-right: 30px;
}

.menu li{
    margin-left: 15px;
}
.disabled{
    pointer-events: none;
    color: #ccc;
}
#container{
    margin-top: 20px;
}
.info{
    display: grid;
    grid-template-columns: minmax(300px,2fr) 1fr;
    background:#68E4FF;
    
}

/* =============================================== LEFT ============================================= */

.casos{
    display: flex;
    padding: 40px 10px;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}
.casos h2{
    letter-spacing: 1px;
    
}
.card{
    width: 45%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    
}

.mortos{
    background: #ff0025;
}
.recuperados{
    background: #005c1f;
}
.novos-casos{
    background: #ffd700;
}

.em-acompanhamento{
    background: #55AFD2;
}

.info-number{
    font-size: 25px;
}

/* ================================================ RIGHT ============================================== */
.right{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}



.date{
    color: white;
}

/* ============================ FOOTER =============================== */
footer{
    color: white;
    text-align: center;
}

.social-icons li{
    display: inline-block;
    margin-left: 15px;
}

.social-icons li i{
    font-size: 20px;
}

ul li a:hover{
    color: red;
    transition: all .3s ease-in-out;
}

.menu.show-menu{
    left: 0;
    transition: all .5s ease-in;
}





/* =========================== SCROLL BAR ================================== */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}



/* ================================================= CONTATO ============================================= */
.form-container{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    width: 70%;
    padding: 20px 15px;
    background: #ccc;
    border-radius: 15px;
    color: gray;
    margin: 0 auto;
}

.formulario label,.formulario input{
    margin-bottom: 3px;
    display: block;
}
.formulario input{
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

.formulario input:focus,textarea:focus{
    border: 1px solid red;
}
.formulario button{
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #0275d8;
    display: block;
    font-weight: bold;
    color: white;
    margin: 10px 0;
    
}


textarea{
    resize: none;
    width: 100%;
    padding: 10px;
    border: none;
}



/* ================================ PREVENCAO ================================ */

.container-cards{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 20px 10px;
}

.card-mp4{
    height: 300px;
    cursor: pointer;
    border-radius: 10px;
    width: 90%;
    padding: 20px 15px;
    background: #ccc;
    border-radius: 15px;
    color: gray;
    margin: 0 auto;
    position: relative;
}
.title{
    margin-bottom:10px;
}
.autor{
    position: absolute;
    background: #ffff;
    border-radius: 8px;
    padding: 5px 15px;
    color: black;
    right: 15px;
    bottom: 5px;
    
}



.modal-overlay{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: -100%;
    transition: top .5s ease-in-out;

    background: rgba(0, 0, 0,0.8);
}

.show-modal{
    top: 0 ;
}

.modal{
    background: white;
    width: 95%;
    height: 80%;
    position: relative;
}

.modal iframe{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}
#btn-close{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 30px;
    cursor: pointer;
}




/* ================================= MEDIA QUERIES ============================================= */

@media screen and (max-width:956px){
    header,.menu{
        position: fixed;
        z-index: 2;
    }
    header{
        top: 0;
    }

    #container,.form-container,.container-cards{
        margin-top: 80px;
    }
    #btn-menu{
        display: block;
    }
    nav .menu{
        margin: 15px 0;
        flex-direction: column;
        gap: 20px;
        top: 65px;
        left: -1000%;
        background-color: #68E4FF;
        width: 100%;
        height: 100%;
        transition: all .5s ease-in;
    }

    nav .menu li{
        margin-left: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    
    .info{
        grid-template-columns: 1fr;
        
        
    }
    .info h2{
        font-size: 17px;
    }
    .info-number{
        font-size: 15px;
    }

    .form-container .formulario{
        width: 90%;
    }

    .container-cards{
        grid-template-columns: 1fr;
    }
    .modal{
        margin-top: 42px;
    }
}